@import url('https://fonts.googleapis.com/css2?family=Candal&family=Boogaloo&display=swap');
/*! purgecss start ignore */
body {
  @apply m-0 p-0 w-full;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  font-family: "Boogaloo", sans-serif;
}

img {
  border: 0;
  @apply max-w-full leading-full align-middle;
}
/*! purgecss end ignore */
h1,h2,h3,h4,h5,h6, hgroup{
    font-family: "Candal", sans-serif;
}
