<table align="left" class="mx-auto">
    <tr>

      <th class="p-16 sm:p-0 text-left font-normal sm:block ">
        <h1 class="m-0 text-left w-full uppercase text-2xl no-underline text-gray-500"><content></content>,</h1>
      </th>
    </tr>
  </table>
