<!DOCTYPE {{{ page.doctype || 'html' }}}>
<html lang="{{ page.language || 'en' }}" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head></head>
  <head>
    <meta charset="{{ page.charset || 'utf-8' }}">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <outlook>
    <xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml>
    <style>
td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: sans-serif; mso-line-height-rule: exactly;}
.o-ml-24 {margin-left: 24px !important;}
    </style>
    </outlook>
    <if condition="page.title">
    <title>{{ page.title }}</title>
    </if>
    <link rel="stylesheet" href="https://cloud.typography.com/6194432/6581412/css/fonts.css">
    <if condition="page.css">
    <style>{{{ page.css }}}</style>
    </if>
    <block name="head"></block>
  </head>
  <body class="{{ page.bodyClass || '' }} mt-12 mb-12 bg-gray-50 bg-hero-morphing-diamonds">
    <if condition="page.preheader">
    <div class="hidden">{{ page.preheader }}</div>
    </if>
    <div
      class="max-w-1/2   m-5 mx-auto font-sans bg-gray-50  bg-hero-morphing-diamonds"
      role="article"
      aria-roledescription="email"
      aria-label="{{ page.title || '' }}"
      lang="{{ page.language || 'en'}}"
      >
      <block name="template"></block>
    </div>
  </body>
</html>
